@model FYPeComm.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div class="breadcrumb">
    <button class="btn btn-default" onclick="window.location.href='@Url.Action("ProductSelection", "Home", new { Area = "Store" })';"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</button>
    <h4 class="padleft">@Html.DisplayFor(model => model.SubCat.ProdSubCatName)</h4>
</div>

<img class="product-image col-sm-6" src="@Url.Content(Model.ProdImg)" alt="Product Image" />
<div class="col-sm-6">
    <div class="product-title">
        <h2>
            @Html.DisplayFor(model => model.ProdName)
        </h2>
        <h2>
            @Html.DisplayFor(model => model.ProdPrice)
        </h2>
    </div>
    <hr />
    <div>
        <div class="form-group">
            <label class="control-label">Colour</label>
            <select class="form-control" asp-items="ViewBag.ColourId"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Size</label>
            <select class="form-control" asp-items="ViewBag.SizeId"></select>
        </div>
        @if (Model.Stock == 0)
        {
            <button class="btn btn-primary" disabled="disabled"><span class="glyphicon glyphicon-shopping-cart" aria-hidden=true></span> Add to cart</button>
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Sorry! This item is currently out of stock.
            </div>
        }
        else
        {
            <button class="btn btn-primary" onclick="return alert('lol no shopping cart');"><span class="glyphicon glyphicon-shopping-cart" aria-hidden=true></span> Add to cart</button>
        }
        <hr />
        <p>
            @Html.DisplayFor(model => model.ProdDesc)
        </p>
    </div>
</div>
