@model FYPeComm.Models.ProdSizeColourLink

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdSizeColourLink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colour.ColourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prod.ProdDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size.SizeName)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-default" onclick="window.location.href='@Url.Action("Index", "ProductDetails", new { Area = "Admin" })';"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to List</button>
</div>
