@model IEnumerable<FYPeComm.Models.ProdSizeColourLink>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a>@Html.ActionLink("Create New", "Create", "ProductDetails", new { Area = "Admin" }, null)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Colour.ColourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod.ProdDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.SizeName)
            </td>
            <td>
                <a>@Html.ActionLink("Edit", "Edit", "ProductDetails", new { Area = "Admin", id = item.ProdId }, null)</a>   |
                <a>@Html.ActionLink("Details", "Details", "ProductDetails", new { Area = "Admin", id = item.ProdId }, null)</a> |
                <a>@Html.ActionLink("Delete", "Delete", "ProductDetails", new { Area = "Admin", id = item.ProdId }, null)</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a>@Html.ActionLink("Back to Admin Panel", "Index", "Admin", new { Area = "Admin" }, null)</a>
</div>
