@model IEnumerable<FYPeComm.Models.ProdSizeColourLink>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Create", "ProductDetails", new { Area = "Admin" })';">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Colour
            </th>
            <th>
                Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prod.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour.ColourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.SizeName)
            </td>
            <td>
                <a>@Html.ActionLink("Edit", "Edit", "ProductDetails", new { Area = "Admin", id = item.ProdId }, null)</a>   |
                <a>@Html.ActionLink("Details", "Details", "ProductDetails", new { Area = "Admin", id = item.ProdId }, null)</a> |
                <a>@Html.ActionLink("Delete", "Delete", "ProductDetails", new { Area = "Admin", id = item.ProdId }, null)</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <button class="btn btn-default" onclick="window.location.href='@Url.Action("Index", "Admin", new { Area = "Admin" })';"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Admin Panel</button>
</div>
